<%= content_tag_for(:li, card) do -%>
  <div class="card_header">
    <%= link_to "#{card.id} - #{card.title}" , [@project, card] %>
    <span class="card_size">Size: <%= card_size(card) %></span>
  </div>
  <div class="card_content">
    <div class="card_description"><%= card.description %></div>
    <% unless card.started_on.nil? %>
      <div class="card_started">Started: <%= card.started_on.strftime('%b %d, %Y') %></div>
    <% end %>
    <% unless card.finished_on.nil? %>
      <div class="card_finished">Finished: <%= card.finished_on.strftime('%b %d, %Y') %></div>
    <% end %>
  </div>
  <div class="card_status <%="blocked" if card.blocked%> <%="ready" if card.waiting%>">
    <div class="card_blocked">
      <%= link_to_block_card(@project, card) %>
      |
      <%= link_to_make_card_ready(@project, card) %>
    </div>
  </div>
<% end -%>
