<%= content_tag_for(:li, card) do -%>
  <div class="card_header">
    <%= link_to "#{card.id} - #{card.title}" , [@project, card] %>
    <% unless card.phase.is_backlog %>
    <span class="card_size">Size: <%= card_size(card) %></span>
    <% end %>
  </div>
  <div class="card_content">
    <div class="card_description"><%= simple_format(card.description) %></div>
    <div class="card_stats">
      <% unless card.started_on.nil? %>
        <div class="card_started">Started: <%= card.started_on.strftime('%b %d, %Y') %></div>
      <% end %>
      <% unless card.finished_on.nil? %>
        <div class="card_finished">Finished: <%= card.finished_on.strftime('%b %d, %Y') %></div>
      <% end %>
      <% unless card.waiting_time <= 0 %>
        <div class="card_waiting_time">Waiting: <%= pluralize(card.waiting_time.round(2), 'day') %></div>
      <% end %>
      <% unless card.blocked_time <= 0 %>
        <div class="card_blocked_time">Blocked: <%= pluralize(card.blocked_time.round(4), 'day')%></div>
      <% end %>
    </div>
  </div>
  <div class="card_status <%="blocked" if card.blocked%> <%="ready" if card.waiting%>">
    <div class="card_blocked">
      <%= link_to_block_card(@project, card) %>
      |
      <%= link_to_make_card_ready(@project, card) %>
    </div>
  </div>
<% end -%>
