<!DOCTYPE html>
<html>
  <head>
    <title>Kanbanfu</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= yield :javascript %>
  </head>
  <body>
    <div id="header">
      <span>Demo Date: <input type="text" id="datepicker"></span>
    </div>

    <%= yield %>

  </body>
</html>
